body{
    margin: 0px;
    background: linear-gradient(to bottom, #006291, #45008f, #390000);
    height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.logo img{
    width: 200px;
}
.coin{
        text-align: center;
    font-size: 30px;
    margin-right: 15px;
    display: flex;
    width: 70px;
    height: 35px;
    color: white;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
.coin img{
    width: 40px;
    height: 45px;
}