body{
    margin: 0px;
    background: linear-gradient(to bottom, #006291, #45008f, #390000);
    height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 50px rgb(202, 132, 0);
}   
.logo img{
    width: 200px;
}
.coin{
    margin-right: 15px;
    display: flex;
    background-color: white;
    width: 70px;
    height: 25px;
    justify-content: space-around;
}
.coin img{
    width: 35px;
    height: 35px;
}